{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12 main-perso">

		<img class="illustration-var" src="{{ asset('img/texture.jpg') }}">

		<div class="col-md-5 main-perso-left">
			<div class="col-md-12 row main-perso-locate">
				<img class="illustration-var" src="{{ asset('img/map.jpg') }}">
			</div>
			<div class="col-md-12 row main-perso-states">
				<img class="illustration-var" src="{{ asset('img/parchemin.jpg') }}">
				<div class="col-md-12">
					<h3>Charactéristiques</h3>
					<div class="col-md-12 main-perso-states-div">
						<p>Niveau 1</p>
						<p>Points d'honneur :</p>
						<p>Expérience :</p>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    60%
						  </div>
						</div>
						<p>Force :</p>
						<p>Défense :</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-7 main-perso-visual">
			<img class="illustration-var" src="{{ asset('img/wood.jpg') }}">
			<img class="perso" src="{{ asset('img/perso.png') }}">
			<div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">
				<div class="equip-item col-md-12">
					Heaume
				</div>
				<div class="equip-item col-md-12">
					Torse
				</div>
				<div class="equip-item col-md-12">
					Jambe
				</div>
				<div class="equip-item col-md-12">
					Anneau
				</div>
				<div class="equip-item col-md-12">
					Arme
				</div>
				<div class="equip-item col-md-12">
					Bouclier
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 main-perso-inventaire-text">
		<h2 class="pull-left">Inventaire (0 / 30)</h2>
		<h2 class="pull-right">Argent : 0 
			<img src="{{ asset('img/bourse.png') }}">
		</h2>
	</div>

	<div class="col-md-12">
		<hr>
	</div>

	<div class="col-md-12 main-perso-inventaire">
		<img class="illustration-var" src="{{ asset('img/texture.jpg') }}">
		
	</div>


{% endblock %}