{% extends 'base.html.twig' %}

{% block activite %}

	{% for log in logs %}
		{% if log.type == 1 %}
			<p style="color:#00BFFF">[{{ log.createdAt|date("H:i:s") }}] {{ log.text }}</p>
		{% elseif log.type == 2 %}
			<p style="color:#01DF3A">[{{ log.createdAt|date("H:i:s") }}] {{ log.text }}</p>
		{% elseif log.type == 3 %}
			<p style="color:#FA5858">[{{ log.createdAt|date("H:i:s") }}] {{ log.text }}</p>
		{% endif %}
	{% endfor %}

{% endblock %}

{% block extend %}

	<style>
		
		.main-activite-extend
		{
			display:none;
		}

	</style>

{% endblock %}

{% block body %}

	<div class="col-md-12 main">

		<img class="illustration-var" src="{{ asset('img/texture.jpg') }}">

		<div class="col-md-5 main-perso-left">
			<div class="col-md-12 row main-perso-locate">
				{% if joueur.locate == 1 %}
					<img class="illustration-var" src="{{ asset('img/map1.png') }}">
				{% elseif joueur.locate == 2 %}
					<img class="illustration-var" src="{{ asset('img/map2.png') }}">
				{% elseif joueur.locate == 3 %}
					<img class="illustration-var" src="{{ asset('img/map3.png') }}">
				{% endif %}
			</div>
			<div class="col-md-12 row main-perso-states">
				<img class="illustration-var" src="{{ asset('img/parchemin.png') }}">
				<div class="col-md-12">
					<h3>Charactéristiques</h3>
					<div class="col-md-12 main-perso-states-div">
						<p>Niveau 1</p>
						<p>Points d'honneur : </p>
						<p>Expérience :</p>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ joueur.experience }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ joueur.experience }}%;">
						    {{ joueur.experience }}%
						  </div>
						</div>
						<p>Force : {{ joueur.strenght }}</p>
						<p>Défense : {{ joueur.defense }}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-7 main-perso-visual">
			<img class="illustration-var" src="{{ asset('img/wood.jpg') }}">
			{% if joueur.house == 1 %}
				<img class="perso" src="{{ asset('img/persoh1.png') }}">
			{% elseif joueur.house == 2 %}
				<img class="perso" src="{{ asset('img/persoh2.png') }}">
			{% elseif joueur.house == 3 %}
				<img class="perso" src="{{ asset('img/persoh3.png') }}">
			{% else %}
				<img class="perso" src="{{ asset('img/perso.png') }}">
			{% endif %}
			<div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">
				<div class="equip-item col-md-12">
					Heaume
				</div>
				<div class="equip-item col-md-12">
					Torse
				</div>
				<div class="equip-item col-md-12">
					Jambe
				</div>
				<div class="equip-item col-md-12">
					Anneau
				</div>
				<div class="equip-item col-md-12">
					Arme
				</div>
				<div class="equip-item col-md-12">
					Bouclier
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 main-perso-inventaire-text">
		<h2 class="pull-left">Inventaire (0 / 30)</h2>
		<h2 class="pull-right">Argent : {{ joueur.gold }} 
			<img src="{{ asset('img/bourse.png') }}">
		</h2>
	</div>

	<div class="col-md-12">
		<hr>
	</div>

	<div class="col-md-12 main-perso-inventaire">
		<img class="illustration-var" src="{{ asset('img/texture.jpg') }}">
		{% for item in items %}
			<div class="col-md-1 col-xs-2 inventaire-item">
				<img class="illustration-var" src="{{ asset('img/'~ item.NameImg ~'.jpg' ) }}">
				<p class="inventaire-item-text">{{ item.Amount }}</p>
			</div>
		{% endfor %}
	</div>


{% endblock %}